@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lobster&family=Playfair+Display+SC:ital,wght@0,700;1,700&display=swap');


:root {
    --background: #fff;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  body {
    margin: 0;
    background: #fff;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .content {
    height: 200vh;
    background-color: #FFF;
    background-blend-mode: multiply;
    background-size: cover;
  }
  
  /* Navigation goes here */
  
  header {
    background: var(--background);
    background-color: #314465;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  
  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  /* hamburger menu styles */
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content:"";
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 8px;
  }
  
  .nav-toggle-label span::after {
    top: 8px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: #FF98CA;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: #FFD5E3;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 70px;
    color: #6699CC;
    text-align: center;
  }

  h3 {
    font-family: 'Lobster';
    font-size: 90px;
    text-transform: none;
    font-weight: 300;
    color: #314465;
    text-align: center;
  }

  .body-text {
    font: 15px;
    font-family: 'Lato' , sans-serif;
    color: #0F2B5F;
  }
  
  /* media query for desktop */
  @media screen and (min-width: 600px) {
    
    .nav-toggle-label {
      display: none;
    }
    
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
   
    .logo {
      grid-column: 2/3;
    }
    
    nav {
      all:unset;
      grid-column: 3/4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
      justify-content: flex-end;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
    
    /* add line above or below the selection on hover */
    nav a::before {
      content:"";
      display: block;
      height: 5px;
      background: #FF007E;
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      
      transform: scale(0,1);
      transform-origin: center;
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
    
  }

  .hero {
    height: 110vh;
    background-image: url(images/Hero\ Image.png);
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .hero2 {
    height: 110vh;
    background-image: url(images/Opening-Ceremony.png);
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .pimg1, .pimg2 {
    position: relative;
    opacity: 7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .pimg1 {
    background-image: url(images/Main\ Paralax.png);
    min-height: 400px;
  }

  .pimg2 {
    background-image: url(images/Section\ Paralax.png);
    min-height: 200px;
  }

  .ptext {
    position: absolute;
    color: #0F2B5F;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Playfair Display SC', serif;
    padding: 20px;
  }

  .ptext2 {
    position: absolute;
    color: #C9528E;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Playfair Display SC', serif;
    padding: 20px;
  }

  .columns_2 {
    padding: 0 20px;
  }
  
  .columns_2:last-of-type {
      margin-right: 0;
  }
/*-- ----------------------------------- Test for image links ----------------------------------- */

  .main-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-col {
    margin-left: 10px;
  }

  .right-col img{
    padding: 10px;
   
  }

  .overlay-images {
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background: rgba(192,192,192,0.3);
  }

  .overlay-images:hover .overlay {
    opacity: 1;
  }

  .overlay-fade {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
  }

  .overlay-text {
    color: #0F2B5F;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 20px;
    transition: translate(-50%, -50%);
  }
    
/*-- ----------------------------------------- End test ----------------------------------------- */

  .overlay-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background: rgba(0, 177, 186, .6);
  }
  
  .overlay-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay-fade {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
  }
  
  .overlay-text {
    color: #fff;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 20px;
    transition: translate(-50%, -50%);
  }